
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en" , :lang => "en"}
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type" } 
    %link{ :href => "tcc.css", :rel => "stylesheet", :type => "text/css" }
  %body
    #title 
      %center Trabalho de conclusão de curso
    #subtitle 
      %center
        Rodrigo Flores 
        %br/ 
        Orientador: Prof. Dr. Roberto Hirata Jr. 
    #content
      %ul
        %li
          %a{:href => "avaliacoes.tar.gz"} 
            Avaliação de monografia de anos anteriores
        %li 
          %a{:href => "proposta.pdf"}
            Proposta de trabalho
        %li 
          %a{:href => "poster.pdf"}
            Pôster
        %li 
          %a{:href => "apresentacao.pdf"} 
            Apresentação
        %li 
          %a{:href => "monografia.pdf"} 
            Monografia 
  
  
